/*removing right side white space*/
/*source: ;https://www.codegrepper.com/code-examples/css/how+to+remove+white+space+in+the+right+side+of+web+page*/
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

/*login page*/
.loginbutton {
  background: #bb0000;
  border: 1px #bb0000;
  border-radius: 3px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 10%;
  padding: 14px;
  margin: 0 auto;
  font-size: 20px;
}

.loginbutton a {
  text-decoration: none;
  color: white;
}

.loginlogo {
  color: white;
  background: #bb0000;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 75px;
}

.andrewid {
  margin-bottom: 25px;
}

.password {
  margin-bottom: 50px;
}

input[type=text] {
  width: 90%;
  padding: 8px;
  margin: 12px 0;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display:flex;
  justify-content: center;
}

/*HealthConnect logo*/
.pagelogo {
  color: #bb0000;
  background: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -5px;
}

.pagelogo a {
  text-decoration: None;
  color: #bb0000;
}

/*navbar for all pages*/
/*source: https://www.codecademy.com/courses/learn-css/lessons/css-typography/exercises/review*/
.navbar {
  width: 100%;
}

.navbar ul {
  display: block;
  list-style-type: none;
  margin-top: -5px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 5px;
  background-color: #e0e0e0;
  text-align: justify;
}

.navbar li {
  display: inline-block;
  padding: 5px 30px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -50px;
}

.navbar a {
  display: block;
  padding: 8px;
  color: black;
  text-decoration: none;
}

.activepage a {
  color: white;
  background-color: #666666;
  padding-top: 14px;
  padding-bottom: 18px;
  margin-bottom: -20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -40px;
  margin-right: -40px;
}

/*homepage*/
.cmupicture img{
  width: 100%;
  margin-bottom: -4px;
}
/*splitting the homepage screen/
/*source:  https://www.w3schools.com/howto/howto_css_split_screen.asp*/
.split {
  width: 50%;
  position: absolute;
}

.left {
  left: 0;
  background-color: #bb0000;
  height: 600px;
}

.right {
  right: 0;
  background-color: white;
  height: 600px;
}

.homepageupcomingappointments {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.quickscheduler {
  margin-top: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.homepageheading {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 25px;
  color: white;
  display:flex;
  justify-content: center;
}

.homepagedetails {
  font-family: 'Open Sans', sans-serif;
  padding: 3px 10px;
  color: black;
  background: #e0e0e0;
  width: 30%;
  border-radius: 10px;
  margin: auto;
}

.homepagedetails p {
  float: right;
  margin-top: -60px;
  font-size: 30px;
}

.homepagecovidtestdetails a {
  text-decoration: none;
  color: black;
}

.homepagedetails h4 {
  margin:  5px;
  font-size: 18px;
}

.quickschedulerform {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 115px;
  margin-bottom: 30px;
  color: black;
  display:flex;
  justify-content: center
}

.quickschedulerformquestions {
  display:  block;
  margin-bottom: 50px;
}

.submithomepage {
  background: #bb0000;
  border: 1px #bb0000;
  border-radius: 3px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 30%;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}

/*upcoming and past appointments pages*/
.navbarappts {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
}

.navbarappts ul {
  margin: 0;
  padding: 5px;
}

.navbarappts li {
  display: inline-block;
  padding: 5px 30px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  float: left;
}

.navbarappts a {
  display: block;
  color: #71797E;
}

.activepage2 a {
  color: black;
}

.appointmentopen {
  display: block;
  background-color: #e0e0e0;
  width: 75%;
  margin-top: -10px;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.appointmentopen h4 {
  font-size: 18px;
  margin-bottom: -5px;
}

.appointmentopenleft {
  margin-left: 20px;
  margin-top: -8px;
}

.appointmentopenright {
  float: right;
  margin-top: -155px;
  margin-right: 10px;
}

.appointmentopenright ul {
  list-style-type: none;
}

.appointmentopenright li {
  padding: 8px;
  text-align: right;
  font-weight: bold;
}

.appointmentopenright a {
  color: black;
}

#allAppointments {
  margin-top: 20px;
}

.singleAppointment {
  color: white;
  margin: auto;
  background: #bb0000;
  width: 75%;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.singleAppointment i {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
}

.singleAppointment h4 {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: white;
  margin-right: 30px;
}

.downArrow i {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
}

.viewDetails {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
}

.viewDetails a {
  color: black;
}

/*appointment details pages*/
.appointmentdetails {
  width: 70%;
  border-style: solid;
  border-color: #bb0000;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
}

.appointmentdetailsright {
  float: right;
  margin-right: 50px;
}

.appointmentdetailsright h4 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}

.appointmentdetailsright h5 {
  margin-top: -10px;
  margin-bottom: -5px;
  font-size: 20px;
}

.appointmentdetailsright ul {
  margin-bottom: -5px;
  font-size: 18px;
}

.appointmentdetailsleft {
  float: left;
  margin-left: 50px;
}

.appointmentdetails img {
  width: 150px;
  height: 150px;
}

.barcode i {
  font-size: 35px;
  margin-left: 5px;
}

.barcode {
  margin-top: 20px;
  margin-bottom: 20px;
}

.detail i {
  display: inline-block;
  font-size: 20px;
}

.detail h4 {
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
}

.detail h6 {
  display: block;
  font-size: 15px;
  margin-left: 25px;
  margin-top: -12px;
}

.button {
  border-style: solid;
  border-radius: 50px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 20px;
}

.red {
  font-weight: bold;
  border-color: #bb0000;
  color: white;
  background-color: #bb0000;
}

.gray {
  font-weight: bold;
  border-color: #e0e0e0;
  color: black;
  background-color: #e0e0e0;
}

.appointmentdetailsback {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.appointmentdetailsback p {
  display: inline-block;
  margin-left: 20px;
  margin-right: -10px;
}

.appointmentdetailsback a {
  color: #666666;
  text-decoration: none;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*cancel appointment modal*/
.popupcontent {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  text-align: center;
  padding: 20px;
  font-size:  30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: #bb0000;
  width: 60%; /* Could be more or less, depending on screen size */
}

.popupcontent a {
  text-decoration: none;
}

.closepopup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popupbutton {
  border-style: solid;
  border-radius: 50px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 30%;
  padding: 8px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/*appointment scheduling page*/

/*step 1: type*/
.regschedulerpickappointmenttype {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}
.regschedulerappointmenttypes {
  margin-bottom: 50px;
}

.regschedulerappointmenttypes label {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  background: #e0e0e0;
  width: 200px;
  border-radius: 20px;
  display: block;
  margin-bottom: 30px;
}

.regschedulerappointmenttypes input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.regschedulerappointmenttypes input[type="radio"]:checked + label {
    background-color:#bb0000;
    color: white;
}

/*step 2: calendar*/
.month {
  padding: 15px 25px;
  width: 30.35%;
  background: #bb0000;
  text-align: center;
  margin-left: 75px;
  margin-top: 75px;
}

.next {
  margin-top: -13px;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin-top: 0;
  margin-bottom: 0;
  margin-left:  75px;
  padding: 10px 0;
  width:  34%;
  background-color:#ddd;
  font-family: 'Open Sans', sans-serif;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.days {
  padding: 10px 0;
  background: #F4F4F4;
  width: 34%;
  margin-left: 75px;
  margin-top: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 15px;
  font-size:14px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.days li .active {
  padding: 8px 12px;
  border-radius: 70px;
  background: #666666;
  color: white
}

.day label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.day {
  display: inline-block;
}

.singlelabel {
  margin: 0px 24px;
}

.doublelabel {
  margin: 0px 20px;
}

.day input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.single input[type="radio"]:checked + label {
    background-color:#7cba4b;
    padding: 8px 12px;
    border-radius: 70px;
    color: black;
    margin: 0px 14px;
}

.single input[type="radio"]:not(:checked) + label {
    background-color:#D6F3BF;
    padding: 8px 12px;
    border-radius: 70px;
    color: black;
    margin: 0px 14px;
}

.double input[type="radio"]:checked + label {
    background-color:#7cba4b;
    padding: 8px 8px;
    border-radius: 70px;
    color: black;
    margin: 0px 14px;
}

.double input[type="radio"]:not(:checked) + label {
    background-color:#D6F3BF;
    padding: 8px 8px;
    border-radius: 70px;
    color: black;
    margin: 0px 14px;
}

.leftcalendar h2 {
  margin-left: 15px;
}

.leftcalendar h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: black;
  margin-top: 60px;
  margin-bottom: -60px;
  margin-left: 75px;
}

/*step 3: times*/
.times {
  float: right;
  margin-top: -30px;
}

.actionbutton {
  border: 1px;
  border-radius: 10px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 10%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 60px 10px;
}

.times label {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  color: black;
  background: #e0e0e0;
  width: 150px;
  border-radius: 20px;
  margin: 15px;
  display: block;
}

.times input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.times input[type="radio"]:checked + label {
    background-color:#bb0000;
    color: white;
}

.am {
  display: inline-block;
  margin-right: 50px;
}

.pm {
  display: inline-block;
  margin-right: 100px;
}

.righttimes {
  float: right;
  margin-top: -300px;
  margin-bottom: 60px;
}

.righttimes h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: black;
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.hr {
  margin-bottom: 100px;
}

/*step 4: review*/
.review {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.reviewheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
  margin-left: -275px;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.review h3 {
  color: #bb0000;
  margin-bottom: -10px;
  font-weight: bold;
  font-size: 20px;
}

.review h4 {
  margin-bottom: 25px;
  font-size: 16px;
}

.review h5 {
  margin-top: -20px;
}

.review {
  border-style: solid;
  border-radius: 6px;
  border-color: #bb0000;
  width: 40%;
}

/*submit form*/
.submit {
  background: #bb0000;
  border: 1px #bb0000;
  border-radius: 3px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 10%;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}